/* Adicionando a fonte global ao body */
body {
    font-family: "Nova Square", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o footer vai para o fundo mesmo com pouco conteúdo */
}

/* Estilo do footer */
.site-footer {
    background-color: #ECECEC;
    color: #333;
    padding: 2em 4%; /* Aumentando o padding */
    font-family: "Nova Square", sans-serif;
    margin-top: auto; /* Faz o footer ficar no final da página */
    display: flex; /* Flexbox para organizar o footer */
    flex-wrap: wrap;
    justify-content: space-evenly; /* Aumentando o espaçamento entre os itens */
    align-items: flex-start; /* Aumentando o espaçamento vertical */
}

/* Área com o conteúdo do footer */
.footer-content {
    width: 100%!important; /* A largura do conteúdo agora é uma porcentagem maior */
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5%!important; /* Aumentando o espaçamento entre as colunas */
    padding-bottom: 2em; /* Aumentando o padding */
    border-bottom: 1px solid #444;
}

.footer-col {
    flex: 1;
    min-width: 20%; /* A largura mínima da coluna é 20% do espaço disponível */
}

.footer-col h3 {
    color: #333;
    font-size: 1.2em; /* Usando em para tamanho de fonte relativo */
    margin-bottom: 0.8em; /* Menos espaço abaixo do título */
    text-transform: uppercase;
}

.contact-list li,
.footer-links li {
    list-style: none;
    margin-bottom: 0.5em; /* Espaçamento entre os itens */
}

.contact-list a,
.footer-links a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-list a:hover,
.footer-links a:hover {
    color: #333;
}

.social-divider {
    border: 0;
    border-top: 1px solid #666;
    margin: 1em 0; /* Menor margem */
}

/* Estilo para a imagem da instituição */
.institution-info {
    display: flex;
    justify-content: flex-start!important; /* Alinha a imagem à esquerda */
    align-items: flex-start!important; /* Alinha a imagem ao topo, se necessário */
    margin-top: 1.2em; /* Menos espaço acima */

}

.imageIF {
    max-width: 15vw; /* A largura da imagem será 15% da largura da viewport */
    max-height: 10vh; /* A altura da imagem será 10% da altura da viewport */
    margin-right: 2%; /* Espaço à direita da imagem */
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
    
    .footer-col {
        margin-bottom: 1em; /* Menor espaço entre as colunas */
    }

    .institution-info {
        text-align: center; /* Centraliza o conteúdo no mobile */
        margin-top: 2em;
    }

    .imageIF {
        max-width: 30vw; /* No mobile, a largura da imagem é 30% da largura da viewport */
        max-height: 15vh; /* No mobile, a altura da imagem é 15% da altura da viewport */
    }
}
