main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.file-upload-button {
    color: #333;
    font-size: 1vw; 
}

.content {
    max-width: 40%; 
    width: 100%; 
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

input,
textarea,
.cadastrar-button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: silver;
    font-size: 1vw; 
    box-sizing: border-box; 
}

textarea {
    height: 150px;
    overflow-y: auto;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 2vw; 
}

.cadastrar-button {
    background-color: #6666FF;
    color: white;
    border: none;
    font-size: 1.5vw; 
    cursor: pointer;
    font-family: "Nova Square";
    padding: 15px; 
}

.cadastrar-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    main {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%; 
    }

    .content {
        max-width: 100%; 
        width: 100%; 
        text-align: left;
        padding: 2%;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .left img {
        width: 100%; 
        height: auto;
    }

    input,
    textarea,
    .cadastrar-button {
        font-size: 5vw; 
    }

    label {
        font-size: 5vw; 
    }

    .file-upload-button {
        color: #333;
        font-size: 4vw; 
    }

    .cadastrar-button {
        font-size: 5vw; 
    }
}
